/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #ffd553;
  color: black;
  padding: 16px 20px;
  border: none;
  border-radius: 90px;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 20px;
  left: 25px;
  width: 180px;
  font-size: 25px;
  z-index: 10;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  left: 15px;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  width: 300px;
  padding: 10px;
}

/* Set a style for the different buttons in form */
.form-container .btn {
  background-color: #ffd553;
  padding: 16px 20px;
  border: none;
  border-radius: 90px;
  cursor: pointer;
  width: 250px;
  margin-bottom: 10px;
  opacity: 0.8;
  font-size: 25px;
}

.open-button:hover {
  filter: saturate(4);
}

.form-container .btn:hover {
  filter: saturate(4);
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #ffd553;
}

/* CSS for modal-popup */
.modal {
  display: none;
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  padding: 5px;
  display: block;
  width: 100%;
  position: absolute;
  max-width: 700px;
  width: 700px;
  margin: 5px;
  left: 23%;
  top: 300px;
  background-color: #fff;
  border: 2px solid black;
  font-size: 15px;
  font-weight: 500;
}

/* test select box styling */

.selectdiv {
  top: 83px;
  min-width: 210px;
  position: fixed;
  z-index: 5;
  left: 30px;
}

.selectdiv:after {
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  content: "<>";

  display: block;
  width: 80%;
  max-width: 220px;
  height: 30px;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 15px;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}

#groupselect {
  left: 60px;
}

#labelselect {
  left: 0px;
}

#logo {
  height: 150px;
  width: 150px;
  position: relative;
  z-index: 100091;
  left: 45%;
  top: 20px;
  margin: 5px;
  padding: 5px;
}
