
.board {
  position: relative;
  margin-left: 1%;
  top: 100px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

}

/* Bakgrunn av div som holder items TODO */
.board-column {
  width: 30%;
  margin: 0 1.5%;
  background: #f5f5f5;
  border-radius: 3px;
  z-index: 1;  
  position: absolute;

}

.board-column-working{
  position: absolute;
left: 33%;
  width: 30%;
    margin: 0 1.5%;
    background: #f5f5f5;
    border-radius: 3px;
    z-index: 1;
  }

.board-column-done{
  position: absolute;
  left: 66%;
  width: 30%;
  margin: 0 1.5%;
  background: #f5f5f5;
  border-radius: 3px;
  z-index: 1;

}

.board-column-header {
  position: relative;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  padding: 0 20px;
  text-align: center;
  background: #333;
  color: #fff;
  border-radius: 3px 3px 0 0;
}

@media (max-width: 600px) {
  .board-column-header {
    text-indent: -1000px;
  }
}

/* To do-header */
.board-column.todo .board-column-header {
  background: #339DA4;
}
/* doing-header */

.board-column-working .board-column-header {
  background: #e7ce89;
    filter:  saturate(5);
}
/* done-header */
.board-column-done .board-column-header {
  background: #66B85A;
}


/*
   always use a wrapper for setting
   the "overflow: scroll/auto"  */
.board-column-content-wrapper {
  position: relative;
  height: 100%;
  overflow-y: auto;
  max-height: 450px;
}


.board-column-content {
  overflow: scroll;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border: 10px solid transparent;
  min-height: 95px;
  
}
/* farge på innhold/skrift */
.board-item {
  position: absolute;
  overflow: hidden;
  width: 100%;
  margin: 5px 0;
}


.board-item-content {
  position: relative;
  padding: 15px;
  background:#fff;
  font-size: 20px;
  border: 1px black solid;
  cursor: grab;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  margin: 5px;
} 


.board-item-content {
  position: relative;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  font-size: 1x;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
}


@media (max-width: 600px) {
  .board-item-content {
    text-align: center;
  }
  .board-item-content span {
    display: none;
  }
}


/* THIS IS THE TO DO LIST */

body {
  background: #edf0f1;
  padding: 80px 0 0 0;
}

body, input, button {
  font-family: 'Roboto', sans-serif;
}

.noFill {
  fill: none;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  padding: 25px;
  top: 0;
  left: 0;
  z-index: 5;
  background: #FF7133;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
}

/* teksten i input-feltet */
header input {
  width: 95%;
  height: 50px;
  float: left;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 60px 0 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px 25px 25px 5px;
  border: 0px;
  box-shadow: none;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
}

header input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header button {
  width: 50px;
  height: 50px;

  position:absolute;
  top:25px;
  right:50px;
  z-index:2;

  border-radius: 25px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
}

header button svg{
  width: 20px;
}

header button svg .fill {
  fill: #FF7133;
}

#banan{
  z-index: 1000;
  top: 150px;
  margin: 20px;
  left: 700px;
  float: right;
  animation: rotate 1s ease-in-out infinite;
}

@keyframes rotate{
  0%{
    transform: rotate(90deg)
  }
  50%{
    transform: rotate(45deg)
  }
  100%{
    transform: rotate(90deg);
  }
}

.container {
  width: 100%;
  float: left;
  padding: 15px;
}

.remove{
  width: 15px;
  height: 15px;
  
}

.info{
  width: 15px;
  height: 15px;
  float: right;
  margin: -10px;
}

.remove svg:hover{
fill: rgb(224, 97, 38);
}

.info svg:hover{
  fill: blue;
}

#viktig{
  position: absolute;
  z-index: 5;
  left: 25px;
}

#Group{
  position: absolute;
  z-index: 5;
  left: 150px;
}

.ansatt{
    color: #FF7133;
    font-size: 15px;
    font-weight: 900;
}

/* icons for viktighet */
.label{
  width: 15px;
  float: right;
  margin: -10px;
}

.label:hover{

}

/* POP UP CSS */



/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #FF7133;
  color: black;
  padding: 16px 20px;
  border: none;
  border-radius: 90px;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 20px;
  left: 25px;
  width: 180px;
  font-size: 15px;
  z-index: 10;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  left: 15px;
  z-index: 9;
}
/* Add styles to the form container */
.form-container {
  width: 300px;
  padding: 10px;
}
/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #FF7133;
  padding: 16px 20px;
  border: none;
  border-radius: 90px;
  cursor: pointer;
  width: 180px;
  margin-bottom:10px;
  opacity: 0.8  ;
  font-size: 15px;
}

.open-button:hover {
    filter: saturate(4);
}

.form-container .btn:hover{
    filter : saturate(4);
}
/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #FF7133;
}

/* CSS for modal-popup */
.modal{
  display : none;
  position : fixed;
  z-index : 100000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}
.modal-content{
  margin: auto;
  display: block;
  width: 100%;
  position: absolute;
  max-width: 700px;
  width: 300px;
  margin: 5px;
  height: 100px;
  left: 450px;
  top: 300px;
  background-color: #fff;
  border: 2px solid black;
  font-size: 15px;
}
.close{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, 
.close:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* test select box styling */

.selectdiv {
  top: 83px;
  min-width: 200px;
  position: fixed;
  z-index: 5;
  left: 30px;
}

.selectdiv:after {
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  content: '<>';

  display: block;
  width: 80%;
  max-width: 220px;
  height: 30px;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 15px;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}

#groupselect{
  left: 60px;
}

#labelselect{
  left: 0px;
}