
.board {
  position: relative;
  margin-left: 1%;
  top: 100px;
}

/* Bakgrunn av div som holder items */
.board-column {
  position: absolute;
  left: 0;
  right: 0;
  width: 30%;
  margin: 0 1.5%;
  background: #f5f5f5;
  border-radius: 3px;
  z-index: 1;
}
.board-column.muuri-item-releasing {
  z-index: 2;
}
.board-column.muuri-item-dragging {
  z-index: 3;
  cursor: move;
}
.board-column-header {
  position: relative;
  height: 50px;
  line-height: 50px;  
  overflow: hidden;
  padding: 0 20px;
  text-align: center;
  background: #333;
  color: #fff;
  border-radius: 3px 3px 0 0;
}

@media (max-width: 600px) {
  .board-column-header {
    text-indent: -1000px;
  }
}

/* To do-header */
.board-column.todo .board-column-header {
  background: #339DA4;
}
/* doing-header */

.board-column.working .board-column-header {
  background: #e7ce89;
}
/* done-header */
.board-column.done .board-column-header {
  background: #66B85A;
}
/* This is the secret sauce,
   always use a wrapper for setting
   the "overflow: scroll/auto"  */
.board-column-content-wrapper {
  overflow: scroll;
  position: relative;
  height: 100%;
  overflow-y: auto;
  max-height: 450px;
}
/* Never ever set "overflow: auto/scroll"
   to the muuri element, stuff will break  FARGE PÅ SKRIFT */
.board-column-content {
  overflow: hidden;
  position: relative;
  border: 10px solid transparent;
  min-height: 95px;
  
}
/* farge på innhold/skrift */
.board-item {
  overflow: hidden;
  position: absolute;
  width: 100%;
  margin: 5px 0;
  font-family: 'Roboto', sans-serif;
}
.board-item.muuri-item-releasing {
  z-index: 9998;

}
.board-item.muuri-item-dragging {
  z-index: 9999;
  cursor: move;
}

.board-item.muuri-item-hidden {
  z-index: 0;
}

.board-item-content {
  position: relative;
  padding: 20px;
  background:#fff;
  font-size: 17px;
  border: 2px white solid;
  cursor: grab;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
} 

.board-item-content {
  position: relative;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  font-size: 1x;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
}


@media (max-width: 600px) {
  .board-item-content {
    text-align: center;
  }
  .board-item-content span {
    display: none;
  }
}


/* THIS IS THE TO DO LIST */

body {
  background: #edf0f1;
  padding: 80px 0 0 0;
}

body, input, button {
  font-family: 'Roboto', sans-serif;
}

.noFill {
  fill: none;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  padding: 25px;
  top: 0;
  left: 0;
  z-index: 5;
  background: #FF7133;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
}

/* teksten i input-feltet */
header input {
  width: 100%;
  height: 50px;
  float: left;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 60px 0 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px 25px 25px 5px;
  border: 0px;
  box-shadow: none;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
}

header input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header input:-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header input::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header button {
  width: 50px;
  height: 50px;

  position:absolute;
  top:25px;
  right:45px;
  z-index:2;

  border-radius: 25px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
}

header button svg {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
}



header button svg .fill {
  fill: #FF7133;
}

.container {
  width: 100%;
  float: left;
  padding: 15px;
}

ul.todo {
  width: 100%;
  float: left;
}

ul.todo li {
  position: relative;
  padding: 20px;
  right: 53px;
  background: #fff;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
}

ul.todo li:last-of-type {
  margin: 0;
}

.remove{
  width: 18px;
  height: 18px;
  float: right;
  margin: -17px;
}

.remove svg{
}
.remove svg:hover{
fill: rgb(224, 97, 38);
}


#viktig{
  position: absolute;
  z-index: 5;
  left: 25px;
}

#group{
  position: absolute;
  z-index: 5;
  left: 155px;
}

/* icons for viktighet */
.label{
  width: 17px;
  height: 17px;
  left: 20px;
}
/*
select {
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 3px;
  color: white;
  overflow: hidden;
  font-size: 15px;
  padding: 5px 8px;
  border: none;
  box-shadow: none;
  background: transparent;
  -webkit-appearance: none;
}*/


/* POP UP CSS */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: orange;
  color: #fff;
  padding: 16px 20px;
  border: none;
  border-radius: 90px;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  left: 28px;
  width: 280px;
  font-size: 20px;
  z-index: 10;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  left: 15px;
  z-index: 9;
}
/* Add styles to the form container */
.form-container {
  width: 300px;
  padding: 10px;
  animation: popup 0.7s;
}
/* Set a style for the submit/login button */
.form-container .btn {
  background-color: red;
  padding: 16px 20px;
  border: none;
  border-radius: 90px;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  font-size: 20px;
}
/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

#item-popup{
  display: none;
  width: 100px;
  height: 100px;
  background-color: red;
  z-index: 100;
}